/vendor
/node_modules
/.idea
/.vscode
/.fleet
.DS_Store
Thumbs.db

.env
.env.*
auth.json

/tests/*.coverage
/tests/**/*.coverage
.phpunit.result.cache
.phpunit.cache
phpunit.xml

composer.phar
composer.lock
package-lock.json
yarn.lock
bun.lock
bun.lockb

.php-cs-fixer.cache
.php_cs.cache