includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    level: 2

    universalObjectCratesClasses:
        - Veloquent\Core\Domain\Records\Models\Record
    
    checkOctaneCompatibility: true

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php